.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-ai-content {
    background-image: url('/events/mpb2b24/images/ai-content.jpg');
}

#hero-strategy {
    background-image: url('/events/mpb2b24/images/strategy.jpg');
}

#hero-demand-gen {
    background-image: url('/events/mpb2b24/images/demand-gen.jpg');
}

#hero-data {
    background-image: url('/events/mpb2b24/images/data.jpg');
}

#hero-storytelling {
    background-image: url('/events/mpb2b24/images/storytelling.jpg');
}

#hero-email {
    background-image: url('/events/mpb2b24/images/email.jpg');
}